ul {
  list-style-type: none;
}

#posts-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.form-control, .form-focus {
  outline-width: 3px !important;
  border-color: #ffe8bb !important;
}

.form-control:focus, .form-select:valid:focus {
  box-shadow: none !important;
  outline: 3px solid #FFC857 !important;
  border-color: #ffe8bb !important;
  transition: outline-width 0.1s linear !important;
}

#cardBord:hover {
  outline: solid 4px #426b69bf;
  transition: outline 0.2s ease-in-out;
}

@media (max-width: 525px) {
  #posts-list {
    grid-template-columns: none;
  }
}

@media (525px <= width <= 1050px) {
  #posts-list {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1601px) {
  #posts-list {
    grid-template-columns: auto auto auto;
  }
}
